.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game-cell {
  cursor: pointer;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.game-cell.is-x{
  c
}
