.toggle{
    width: 100%;
    height: 50px;
    background-color: #ccc;
    border-radius: 100rem;
    margin: 25px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.toggle.active{
    background-color: #f62682;
}
